* {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*header*/

.promo {
	background-image: url(../img/bcg-header.png);
	background-repeat: no-repeat;
	background-position: center;
}

/*toggle menu*/

.header-mobmenu {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
  padding-top: 60px;
}

.header-mobmenu ul li i {
	margin-right: 8px;
}

/* fullscreen-menu overlay */
#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Overlay positioning */
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* Want a left- or right sided navigation instead? Just play around with the width! */
  height: 100%;
  background: rgba(0, 49, 74, 0.95);
}

#overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

#overlay ul li {
  margin: 25px auto;
}

#overlay ul li a {
	color: #fff;
  font-size: 22px;
  text-decoration: none;
}

/* fullscreen-menu */

/* hamburger-icon  */
#nav-icon {
  position: relative;
  width: 30px;
  height: 40px;
  z-index: 10;
  /* Bring icon ontop of overlay */
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 21px;
}

#nav-icon.animate-icon span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.animate-icon span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.animate-icon span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* hamburger-icons */

.promo-menu {
	width: 67%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 106px;
}

.promo-menu ul {
	display: flex;
}

.promo-menu ul li {
	list-style: none;
	margin-right: 75px;
}

.promo-menu ul li:last-child {
	margin-right: 0;
}

.promo-menu ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
}

.promo-menu ul li a:hover {
	text-decoration: underline;
}

.promo-menu ul li i {
	color: #fff;
	margin-right: 8px;
	transform: rotate(100deg);
}

.promo-main-logo {
	display: flex;
  justify-content: center;
  align-items: center;
}

.promo-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.promo-text h1 {
	font-size: 48px;
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding-bottom: 10px;
}

.promo-text span {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding-bottom: 40px;
}

.promo-text a {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-bottom: 65px;
}

.btn {
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 14px 51px;
}

.btn:hover {
	background: rgba(1, 142, 172, 0.5);
	transition: 0.5s;
}

/*.arrow-position {
	display: flex;
	margin: 0 auto;
	margin-bottom: 18px;
}

.arrow {
	display: block;
	width: 15px;
	height: 15px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(-45deg);
}*/

/*about ARS*/

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-title {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
	color: #000;
	font-size: 30px;
	font-weight: 400;
	padding-top: 85px;
	padding-bottom: 9px;
}

.title-line {
	display: block;
	width: 135px;
	border: 2px solid rgba(1, 142, 172, 0.7);
	border-radius: 3px;
	margin-bottom: 75px;
}

.title-white {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	padding-top: 85px;
	padding-bottom: 9px;

}

.title-line-white {
	display: block;
	width: 135px;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	margin-bottom: 75px;
}

.about-text {
	color: #000;
	width: 48%;
	font-size: 18px;
}

.about-text p {
	margin-bottom: 14px;
	line-height: 25px;
}

.about-line {
	display: block;
	width: 50px;
	border: 1px solid rgba(1, 142, 172, 0.7);
	margin-bottom: 50px;
}

.about-slider {
	margin-bottom: 80px;
}

/*ARS short info*/

.short-info {
	display: flex;
	justify-content: center;
	background: rgba(0, 49, 74, 0.95);
}

.short-info span {
	display: block;
	width: 66%;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	padding-top: 47px;
	padding-bottom: 47px;
	letter-spacing: 0.5px;
	text-align: right;
}

/*direction of ARS*/

.direction-container {
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.direction {
	display: flex;
  align-items: center;
  flex-direction: column;
	background-image: url(../img/bcg-direction.png);
	background-repeat: no-repeat;
	background-position: center;
}

.direction-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-bottom: 140px;
	margin-left: 30px;
}

.direction-info-item {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 40px;
	max-width: 230px;
}

.direction-info-item__number {
	position: absolute;
	color: #018EAC;
	font-size: 100px;
	font-weight: 600;
	opacity: 0.2;
}

.direction-info-item__number:nth-child(1) {
	left: -70px;
  top: -34px;
}

.direction-info-item__number:nth-child(2) {
	left: -65px;
  top: -34px;
}

.direction-info-item__number:nth-child(3) {
	left: -65px;
  top: -34px;
}

.direction-info-item h3 {
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 30px;
}

.direction-info-item p {
	font-size: 14px;
	line-height: 20px;
}

.direction-line {
	display: flex;
  justify-content: space-between;
	position: absolute;
  left: 35px;
  top: 87px;
  width: 86%;
  height: 2px;
	background: #018EAC;
	opacity: 0.8;
	z-index: 5;
}

.direction-line:before {
	content: " ";
	display: block;
	width: 9px;
	height: 9px;
	background: #FFFFFF;
	border: 1px solid rgba(1, 142, 172, 0.6);
	border-radius: 180%;
	margin: -5px;
}

.direction-line:after {
	content: " ";
	display: block;
	width: 9px;
	height: 9px;
	background: #FFFFFF;
	border: 1px solid rgba(1, 142, 172, 0.6);
	border-radius: 180%;
	margin: -5px;
}

.direction-circle {
	position: absolute;
	width: 9px;
	height: 9px;
	top: 82px;
  left: 35%;
	background: #FFFFFF;
	border: 1px solid rgba(1, 142, 172, 0.6);
	border-radius: 180%;
	z-index: 10;
	transform: translateX(-50%);
}

/*suitable ARS*/

.suitable-container {
	width: 62%;
	margin-right: auto;
  margin-left: auto;
}

.suitable {
	background-image: url(../img/bcg-suitable.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.suitable-wrap {
	display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.suitable-wrap-item {
  width: 40%;
}

.suitable-wrap-item h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
	padding-left: 80px;
	padding-bottom: 18px;

}

.suitable-wrap-item p {
	width: 70%;
	color: #fff;
	line-height: 20px;
	font-size: 14px;
	font-weight: 300;
  padding-left: 80px;
	padding-bottom: 43px;
}

.suitable-wrap-item img {
	position: relative;
	left: 0px;
  top: -125px;
}

.suitable-wrap .suitable-wrap-item .suitable-img {
	top: -152px;
}

/*advantages*/

.advantages-container {
	width: 77%;
	margin-right: auto;
  margin-left: auto;
}

.advantages-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.advantages-wrap-item {
	width: 33%;
	margin-bottom: 51px;
}

.advantages-wrap-item span {
	position: relative;
	top: 21px;
  left: 45px;
	display: block;
	width: 12px;
	height: 12px;
	border: 2px solid #00314A;
	border-radius: 180%;
}

.advantages-wrap-item p {
	color: #000;
	line-height: 25px;
	font-size: 18px;
	padding-left: 80px;
}

/*How does the ARS technique work?*/

.work-wrap {
	width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.work-img {
	width: 270px;
	text-align: center;
	padding-bottom: 71px;
}

.work-item {
	position: relative;
	width: 40%;
	padding-bottom: 71px;
}

.work-item__number {
	position: absolute;
	left: -80px;
  top: -75px;
	color: #018EAC;
	font-size: 100px;
	font-weight: 600;
	opacity: 0.1;
}

.work-item__one-line {
	position: absolute;
	left: -80px;
	top: 84px;
	width: 70px;
	border: 1px solid rgba(0, 49, 74, 0.4);
	transform: rotate(90deg);
}

.work-item p {
	line-height: 25px;
}

/*video*/

.video {
	background-image: url(../img/bcg-video.png);
	background-repeat: no-repeat;
	background-size: cover;	
}

.video-container {
/*	width: 50%;*/
	margin-right: auto;
  margin-left: auto;	
	text-align: center;
}

.video-text {
	color: #fff;
	line-height: 25px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.2px;
	padding-top: 56px;
	padding-bottom: 22px;
}

.video-line {
	display: block;
	width: 50px;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	margin: 0 auto;
}

iframe {
	padding-top: 50px;
	padding-bottom: 70px;
}

/*reviews*/
.reviews-wrap-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.reviews-wrap-item h3 {
	color: #000;
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 24px;
}

.reviews-wrap-item p {
	width: 60%;
	color: #000;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	line-height: normal;
	padding-bottom: 20px;
}

.reviews-line {
	display: block;
	width: 50px;
	background: #018EAC;
	border: 1px solid #00314A;
	border-radius: 3px;
	margin: 0 auto;
}

.reviews-data {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	padding-top: 24px;
}

/*price*/

.price {
	background-image: url(../img/bcg-price.png);
	background-repeat: no-repeat;
	background-size: cover;	
}

.price-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.price-info p {
	color: #000;
	font-size: 18px;
	padding-bottom: 84px;
}

.price-container {
	width: 60%;
	margin-right: auto;
  margin-left: auto;
}

.price-cost {
	display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-bottom: 85px;
}

.price-cost-item__number {
	color: #000;
	font-size: 48px;
	text-align: center;
}

.price-cost-item__number__correct {
	font-size: 22px;
}

.price-cost-item__info {
	color: #000;
	font-size: 24px;
	text-align: center;
}

.price-cost-item__info__correct {
	font-size: 22px;
	text-align: center;
}

.price-line {
	display: block;
	height: 75px;
	border: 1px solid #00314A;
	border-radius: 3px
}

/*form*/

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/bcg-form.png);
	background-repeat: no-repeat;
	background-size: cover;	
}

.form-text {
	width: 65%;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: center;
	padding-bottom: 58px;
}

.form-info-order {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-info-order input {
	width: 350px;
	color: #fff;
	font-weight: 300;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

.btn-order {
	color: #fff;
	letter-spacing: 0.2px;
	background: none;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 14px 51px;
	margin-bottom: 60px;
}

.btn-order:hover {
	background: rgba(1, 142, 172, 0.5);
	transition: 0.5s;
}

::-webkit-input-placeholder {color:#fff;font-weight: 300;}
::-moz-placeholder          {color:#fff;font-weight: 300;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;font-weight: 300;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;font-weight: 300;}

.thanks {
	display: none;
	position: absolute;
  color: #000;
  font-size: 42px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 45px;
  transition: 0.5s;

}

/*footer*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 90px;
}

.footer-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-info__cell {
	padding-bottom: 20px;
}

.footer-info__cell a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	padding-left: 112px;
}

.footer-info__cell a:hover {
	opacity: 0.8;
}

.footer-info__email a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	padding-left: 35px;
}

.footer-info__email a:hover {
	opacity: 0.8;
}

.footer-social ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.footer-social ul li a {
	text-decoration: none;
}

.footer-social ul li a i {
	color: #000;
	font-size: 25px;
	padding-left: 20px;
  padding-bottom: 20px;
}

.footer-social ul li a i:hover {
	opacity: 0.8;
}

@media screen and (min-width: 1401px) {
	.header-mobmenu  {
    display: none;
  }

  .work-img-mob {
  	display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
	.promo-menu {
		display: none;
	}

  .work-img-mob {
  	display: none;
  }
}

@media screen and (max-width: 1024px) {
	.promo-menu {
		display: none;
	}

	.promo-text h1 {
		font-size: 36px;
	}

	.promo-text span {
		font-size: 16px;
		padding-bottom: 55px;
	}

	.promo-text a {
		font-size: 16px;
	}

	.about-text {
		width: 80%;
	}

	.short-info span {
		width: 80%;
		font-size: 20px;
	}
	.direction-container {
		width: 85%;
	}

	.direction-line {
		width: 81%;
	}

	.direction-info-item p {
		width: 85%;
	}

	.suitable-container {
		width: 74%;
	}
	
	.suitable-wrap-item h3 {
		font-size: 14px;
		font-weight: 600;
	}

	.suitable-wrap-item p {
		font-size: 12px;
	}

	.advantages-container {
		width: 100%;
	}

	.advantages-wrap-item {
		width: 45%;
	}

	.work-wrap {
		width: 80%;
		justify-content: center;
	}

	.work-img-mob {
		display: none;
	}

	.work-img--right {
		margin-right: 55px;
	}

	.video-text {
		width: 65%;
		font-size: 14px;
    margin-left: auto;
    margin-right: auto;
	}

	iframe {
		width: 80%;
	}

	.reviews-wrap-item p {
		width: 80%;
	}

	.footer {
		width: 90%;
	}

  .footer-info__cell a {
  	padding-left: 15px;
  }

  .footer-info__email a {
  	padding-left: 15px;
  }

}

@media screen and (max-width: 760px) {
	.title-white {
		font-size: 20px;
	}

	.title {
		font-size: 20px;
	}

	.promo-menu {
		display: none;
	}

  .promo-main-logo img {
  	width: 60%;
  }

  .promo-text {   
  	width: 80%;
    margin: auto;
  	text-align: center;
  }

  .promo-text h1 {
    font-size: 24px;
    padding-top: 30px;
  }
  
  .short-info span {
		font-size: 18px;
		width: 90%;
    text-align: center;
  }

  .direction-info {
  	padding-left: 20px;
  	padding-bottom: 100px;
  	flex-direction: column;
  }

  .direction-line, .direction-circle {
  	display: none;
  }

  .direction {
  	background-size: cover;
  }

  .suitable-wrap {
  	flex-direction: column;
  }

  .suitable-wrap-item {
  	width: 100%;
  }

  .suitable-wrap-item h3 {
  	font-size: 18px;
  }

  .suitable-wrap-item p {
  	padding-bottom: 30px;
  }

  .advantages-wrap {
  	flex-direction: column;
  }

  .advantages-wrap-item {
  	width: 90%;
  	margin-bottom: 20px;
  }

  .work-item {
  	width: 90%;
  }

  .work-img {
  	display: none;
  }

  .work-img--right {
  	display: none;
  	margin-right: 0px;
  }

  .work-item__one-line {
  	left: -60px;
  }

  .work-item__number {
    left: 200px;
  }

  .video-text {
  	width: 80%;
  }

  iframe {
  	height: 224px;
  	width: 80%;
  }

  .reviews-wrap-item h3 {
  	font-size: 18px;
  	text-align: center;
  }

  .reviews-wrap-item p {
  	font-size: 15px;
  }

  .reviews-data {
  	font-size: 15px;
  }

  .price-info p {
  	font-size: 16px;
  	text-align: center;
  }

  .price-container {
  	width: 80%;
  }

  .form-text {
  	width: 80%;
  	font-size: 14px;
  }

  .form-info-order {
  	width: 100%;
  }

  .form-info-order input {
  	width: 100%;
  }

  .footer {
  	width: 80%;
  	display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .footer-info__cell a {
  	padding-left: 5px;
  }

  .footer-info__email a {
  	padding-left: 5px;
  }

  .footer-social ul {
  	justify-content: space-around;
  	padding-top: 30px;
  }

  .footer-social p {
		font-size: 15px;
  }
}

@media (min-width: 660px) and (max-width: 740px) {
	.promo-main-logo img {
		width: 40%;
	}

	.direction-info {
		flex-direction: row;
		padding-left: 0;
	}

	.direction-line, .direction-circle {
		display: flex;
	}
	
	.direction-line {
		justify-content: space-between;
	}


	.work-item__number {
		left: 400px;
	}

	.footer {
		width: 90%;
		display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: 20px;
	}
}

@media (min-width: 20em) and (max-width: 24em) {
	.work-item__number {
    left: 145px;
	}
}

@media (max-width: 20em) {
	.work-item__number {
    left: 115px;
	}
}
